$html-font-size: 16px;


@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}


@mixin link-style {
  color: $black;
  font-weight: 400;
  font-size: rem(20);
  line-height: rem(24);
}

@mixin link-style-active {
  color: $minsk;
  border-bottom: 3px solid $turbo;
}

@mixin title {
  color: $minsk;
  font-weight: 600;
  font-size: rem(40);
  line-height: rem(48);
}
@mixin title_border {
  @include title;
  border-bottom: rem(9) solid $turbo;
  padding-bottom: rem(18);
  box-sizing: border-box!important;
}
